.results {
    border: 1px solid;
    text-align: center;

}
.noData {
    margin-top: 50px;
    margin-bottom: 50px;
}
.description {
  padding-left: 20px;
}
.flex {
  display: flex;
  align-items: center;
}
