<div class="results">
  <div class="noData" *ngIf="data.length === 0">No data</div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let item of data"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{ item.key }}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="description">
        <div *ngFor="let element of item.value" class="flex">
          <h3>asteroid name: {{ element.name }}</h3>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
