<div class="picker">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Enter a date range </mat-label>
    <mat-date-range-input [formGroup]="rfContact" [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input
        matEndDate
        placeholder="End date"
        formControlName="end"
        [value]="rfContact.value.end"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<div class="spinner" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
