.picker {
  text-align: center;
  padding-top: 20px;
}

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
